

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a,
  img,
  data,
  span,
  input,
  button,
  select,
  ion-simbolo,
  textarea { display: block; }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img { height: auto; }
  
  input,
  button,
  select,
  textarea {
    background: none;
    border: none;
    font: inherit;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    outline: none;
  }
  
  button { cursor: pointer; }
  
  address { font-style: normal; }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: hsla(210, 4%, 9%, 1);
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
    font-weight:  400;
    line-height: 1.85em;
  }
  
  
  
  ::-webkit-scrollbar { width: 5px; }
  
  ::-webkit-scrollbar-track { background-color: transparent; }
  
  ::-webkit-scrollbar-thumb { background-color:#ff9853; }
  
  
  
  .h1title,
  .h2title,
  .headline-2,
  .title-1,
  .title-2,
  .title-3,
  .title-4 {
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    line-height: 1.2em;
  }
  
 
  
  .h2title { font-size: calc(2rem + 2.5vw); }
  
  .headline-2 {
    font-size: calc(1.3rem + 2.4vw);
    line-height: 1.4em;
  }
  
  .title-1 { font-size: calc(1.6rem + 1.2vw); }
  
  .title-2 { font-size: 2.2rem; }
  
  .title-3 { font-size: 2.1rem; }
  
  .title-4 { font-size: calc(1.6rem + 1.2vw); }
  
  .body-1 {
    font-size: 2.4rem;
    line-height: 1.4em;
  }
  
  .body-2 {
    font-size:  1.6rem;
    line-height: 1.6em;
  }
  
  .body-3 { font-size: 1.8rem; }
  
  .body-4 { font-size: 1.6rem; }
  
  .label-1 { font-size: 1.4rem; }
  
  .label-2 { font-size: 1.4rem; }
  
  
  .contenedor { padding-inline: 16px; }
  
  .separator {
    width: 8px;
    height: 8px;
    border: 1px solid#ff9853;
    transform: rotate(45deg);
  }
  
  .contact-label { font-weight: var(--weight-bold); }
  
  .numero-reservas {
    border: 3px double #c7c7c7;
    color: #c7c7c7;
    padding: 1rem;
    font-family: 'Special Elite', cursive;
    max-width: max-content;
    margin-top: 3rem;
    margin-inline: auto;
  }
  

  
  .numero-reservas::after { bottom: -5px; }
  
  .texto-alineado { 
    text-align: center;
    margin-bottom: 2rem; 
  }
  
  .imagen-completa {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .subtitulo-apartado {
    position: relative;
    color:#ff9853;
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-block-end: 12px;
  }
  
  .h2title::before {
    content: url('../images/separator.svg');
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
  }
  


  
  .btn .text { transition: 250ms ease; }
  
  .btn .text-2 {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
    color: hsla(40, 12%, 5%, 1);
  }
  
  .btn:is(:hover, :focus-visible)::before { bottom: -50%; }
  
  .btn:is(:hover, :focus-visible) .text-1 { transform: translateY(-40px); }
  
  .btn:is(:hover, :focus-visible) .text-2 {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn-secondary {
    background-color:#ff9853;
    color: hsla(0, 0%, 0%, 1);
  }
  
  .btn-secondary::before { background-color: hsla(40, 12%, 5%, 1); }
  
  .btn-secondary .text-2 { color: hsla(0, 0%, 100%, 1); }
  
  .has-before,
  .has-after {
    position: relative;
    z-index: 1;
  }
  
  .has-before::before,
  .has-after::after {
    content: "";
    position: absolute;
  }
  
  .section {
    position: relative;
    padding-block:  135px;
    overflow: hidden;
    z-index: 1;
  }
  
  .spanprecio{
    font-family: 'Special Elite', cursive;
    color: #c7c7c7;
    font-size: 24px;
    margin: 1rem;
  }
  
  .grid-contenedor {
    display: grid;
    gap: 40px;
    transition: 1s;
  }

  .contenido{
    display: none;
  }
  

  
  .btn-text {
    color:#ff9853;
    padding-block-end: 4px;
    margin-inline: auto;
    text-transform: uppercase;
    letter-spacing:  0.2em;
    font-weight: var(--weight-bold);
    transition: 250ms ease;
  }
  
  .btn-text:is(:hover, :focus-visible) { color: hsla(0, 0%, 100%, 1); }
  
  .shape {
    display: none;
    position: absolute;
    max-width: max-content;
    z-index: -1;
  }
  
  .img-abaut { width: 100%; }
  
  .move-anim { animation: move 5s linear infinite; }
  
  @keyframes move {
    0%,
    100% { transform: translateY(0); }
  
    50% { transform: translateY(30px); }
  }
  
  .has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .input-field {
    background-color:  hsla(210, 4%, 11%, 1);
    color: hsla(0, 0%, 100%, 1);
    height: 56px;
    padding: 10px 20px;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    margin-block-end: 20px;
    outline: none;
    transition: border-color 500ms ease;
  }
  
  .input-field::placeholder { color: inherit; }
  
  .input-field:focus { border-color:#ff9853; }
  
  .simbolo-wrapper {
    position: relative;
    margin-block-end: 20px;
  }
  
  .simbolo-wrapper .input-field {
    margin-block-end: 0;
    padding-inline-start: 40px;
    appearance: none;
    cursor: pointer;
  }
  
  .simbolo-wrapper ion-simbolo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    --ionsimbolo-stroke-width: 50px;
    pointer-events: none;
  }
  
  .simbolo-wrapper ion-simbolo:first-child { left: 15px; }
  
  .simbolo-wrapper ion-simbolo:last-child { right: 10px; }
  